.link {
    cursor: pointer;
}

.transparent {
    background-color: transparent;
}
.text-derecha {
    text-align: right;
    justify-content: right;
}

.icon {
    width: 24px;
}
.center {
    text-align: center;
}

.red-buttom{
    width: 100%;
    margin: 5px;
}

table {
    font-size: 0.785rem;
}

.table td {
    padding: 0.25rem;
}

.box {
    display: flex;
}

.table-title {
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}